<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_open_cien" model="ir.actions.act_window">
        <field name="name">Salas</field>
        <field name="res_model">cine</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <record id="action_open_cien_presupuesto" model="ir.actions.act_window">
        <field name="name">Salas</field>
        <field name="res_model">cine</field>
        <field name="view_mode">tree,form,kanban</field>
    </record>

    <menuitem id="menu_principal" name="Cine"/>
    <menuitem id="menu_horizontal" name="Cine" parent="menu_principal"/>
    <menuitem id="menu_vertical_presupuesto" name="Salas de cine" parent="menu_horizontal" action="action_open_cien"/>

    <menuitem id="menu_horizontal_cine_presupuesto" name="Cine" parent="peliculas.menu_principal"/>
    <menuitem id="menu_vertical_cine_presupuesto" name="Salas de cine" parent="menu_horizontal_cine_presupuesto" action="action_open_cien_presupuesto"/>

   
</odoo>
